*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
.secondery-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px ;
    border: 0;
}
.section-title{
    font-size:35px ;
    font-weight: bold;
    color: #181818;
    margin-bottom: 25px;
}
.section-descriptsion{
    font-size: 18px;
    color: #757575;
}
.text-center{
  text-align: center;
}
/* header */
header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav style */
nav{
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 50px 200px;
   
  
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
   
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 100px;
    align-items: center;
}
.banner-content{
    max-width: 585px;
    
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 35px;
}
.banner-profile{
    width: 580px;
}
.btn{
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px ;
    border: 0;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    margin-left: 20px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin:130px 0 ;
}
/* about section */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.about-item{

}
.item-title{
    color: #757575;
    font-size: 20px;
}
.item-discription{
    font-weight: bold;
    font-size: 20px;
    color: #474747;
}
/* skills section */
.skills{
 padding: 0 90px;
}
.skills-container{
    display: flex;
    justify-content: space-around;
   gap: 24px;
   
}
.skill{
    padding: 30px;
    box-shadow: 0px  6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 50px;
    border-radius: 5px;
}
.skill img{
    margin-bottom: 15px;
}
.skill-title{
    margin-bottom: 15px;
}

/* resume section */
.resume{
    padding: 0 90px;
}
.section-title{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
    color: #181818;
}
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-colume-title{
    margin-bottom: 30px;
    color: #474747;
    font-weight: bold;
    font-size: 30px;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.experience-sub-title{
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.experience-discription{
    font-size: 16px;
    color: #757575;
    margin-bottom: 15px;
}
.cv-button{
  margin-top: 50px;
}
/* footer section */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
.section-titles{
    margin-bottom: 10px;
}
.section-titles,p{
    margin-bottom: 10px;
    color: #474747;
}
.icons img{
    margin-right: 10px;
    margin-top: 10px;
}
input[type="text"],footer input[type="email"],textarea{
    /* height: 64px ; */
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 28px;
    margin-bottom: 24px;
   border: 0;
}

